/* custom styles */

body {
  color: #666;
  background-color: #fff;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7em;
}

.bg-hero {
  background-color: rgba(29,67,156,0.8);
}


.open-sans {
  font-family: "Open Sans";
}

.primary-color {
  color: rgba(29,67,156,1.0);
}

article h2 {
  color: rgba(29,67,156,1.0);
  font-size: 1.25rem;
  font-weight: 200;
}


.summary {
  height:7.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}



#header {
  height: 500px;
  position: relative;
}

.hero-text {
  height: 500px;
  /* height: 90vh; */
}

#servi-trak {
  font-size: .9em;
  height: 50px;
}

#servi-trak .description {
  margin-right: 20px;
}

div#servi-trak button.btn {
    background: #1b759b;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 0 10px;
    margin-right: 10px;
}

/*/////////////////////////////*/
.fullscreen-video-background {
  background: #000;
  position: absolute;
  width: 100%;
  z-index: -99;
  overflow: hidden;
  height: 500px;
}
.fullscreen-video-background ._pattern-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  /* opacity: 0.3; */
  bottom: 0;
  /* background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/03.png); */
  z-index: 2;

  background-color: rgba(29,67,156,0.7);
}
.fullscreen-video-background #_buffering-background {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #222;
  z-index: 1;
}
.fullscreen-video-background #_youtube-iframe-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
}
.fullscreen-video-background #_youtube-iframe-wrapper #_youtube-iframe {
  position: absolute;
  pointer-events: none;
  margin: 0 auto;
  height: 600vh;
  width: 360vw;
}

@media (min-width: 768px) { 
  .fullscreen-video-background #_youtube-iframe-wrapper #_youtube-iframe {
    height: 500vh;
    width: 200vw;
  } 

  #header, .hero-text {
    /* height: 100vh; */
  }
}

@media (min-width: 992px) { 
  .fullscreen-video-background #_youtube-iframe-wrapper #_youtube-iframe {
    height: 400vh;
    width: 160vw;
  } 
}

@media (min-width: 1200px) { 
  .fullscreen-video-background #_youtube-iframe-wrapper #_youtube-iframe {
    height: 300vh;
    width: 120vw;
  } 
}


@media (max-width: 768px) {
  .is-desktop {
      display: none!important;
  }
}


#main-menu-pane ul {
  display: inline-block;
  list-style: none;
}

#main-menu-pane ul li {
    display: inline-block;
    position: relative;
}





#main-menu-pane ul li.has-sub-menu a:after {
  padding-left: 3px;
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: hsla(0,0%,100%,.7);
}


#main-menu-pane ul.sub-menu {
    display: block;
    list-style: none;
    position: absolute;
    background: #fff;
    padding-inline-start: 0;
    margin-left: 1rem;
    display: none;
}

#main-menu-pane ul.sub-menu li {
  padding: 20px;
  border-bottom: 1px solid #cccccc; 
  width: 280px;
  text-align: left;
}

#main-menu-pane ul.sub-menu li a{
  text-decoration: none;
  color: #357edd;
}

#main-menu-mobile {
  top: 100px;
}

#main-menu-mobile > ul {
  border-top: 3px solid #2ea3f2;
}

#main-menu-mobile ul {
  background: #1d439c;
  display: block;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  
}

#main-menu-mobile ul li {
  display: block;
  position: relative;
  
}

#main-menu-mobile a {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.mobile-menu-closed {
  display: none;
}

.mobile-menu-open {
  display: block;
}


#main-footer {
  background: #0c2d5b;
}

#main-footer h4 {
  color: #2ea3f2;

  font-size: 18px;
  padding-bottom: 10px;

  font-weight: 500;
  line-height: 1em;
  margin: 0;
}

#main-footer a {
  color: #ffffff;
  text-decoration: none;
}

#main-footer ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
}

#main-footer ul li {
  position: relative;
  padding-left: 14px;

  margin-bottom: .5em;

  border: 0;
  outline: 0;
  background: 0 0;
  font-size: 100%;
  vertical-align: baseline;

}

#main-footer ul li:before {
  position: absolute;
  top: 9px;
  left: 0;
  border-width: 3px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: "";
  border-color: #2ea3f2;
}

/* social icons */

.et-social-icons li {
  padding: 0;
  display: inline-block;
}

#main-footer ul.et-social-icons li:before,
ul.et-social-icons li:before {
  content: none;
}

ul.et-social-icons a.icon span {
  display: none;
}

ul.et-social-icons a.icon i:before {
  font-size: 2rem;
}


/* alternative hero */

#header.hero2, 
#header.hero2 .fullscreen-video-background {
  height: 900px;
}

#header.hero2 .hero-text {
  height: 800px;
  text-align: center;
}

#header.hero2 h1 {
  line-height: .98em;
}

@media screen and (min-width: 30em) {

  #header.hero2, 
  #header.hero2 .fullscreen-video-background {
    height: 650px;
  }

  #header.hero2 .hero-text {
    height: 500px;
    text-align: left;

  }

  #header.hero2 h1 {
    font-size: 4rem;
    line-height: .8em;
  }
}